# Ignore Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs
*.log

# Docker files (optional, if you don’t want them in repo)
*.pid
docker-compose.override.yml

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
